numpy
keras
gensim
tensorflow==2.12.0
keras==2.12.0
transformers==4.27.3
datasets==2.10.1
keras-nlp
pandas
jupyter
matplotlib
textblob
spacy-transformers
spacy
spacy[transformers]
np_utils
scikit-learn
gym
stable_baselines3
shimmy>=0.2.1